In [138]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt

In [139]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [140]:
print(train_data.isnull().sum())
print(test_data.isnull().sum())

Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (Class label)    0
dtype: int64
Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (class label)    0
dtype: int64

In [141]:
train_data.groupby("Personality (Class label)").mean()

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
Personality (Class label),,,,,,
dependable,19.717391,5.115942,4.739130,4.768116,4.833333,4.550725
extraverted,19.726667,5.066667,4.906667,4.540000,4.860000,4.380000
lively,19.761194,5.119403,4.500000,4.701493,4.865672,4.291045
responsible,19.412698,4.817460,4.452381,4.515873,4.714286,4.214286
serious,19.770186,4.968944,4.602484,4.683230,4.850932,4.565217

In [142]:
train_data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively
...,...,...,...,...,...,...,...,...
704,Female,20,4,5,6,6,1,responsible
705,Male,18,6,3,1,5,5,dependable
706,Male,22,5,2,3,6,1,serious
707,Male,19,5,6,5,7,5,extraverted
708,Female,18,5,5,7,6,5,extraverted

In [143]:
test_data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (class label)
0,Female,20,7,9,9,5,5,dependable
1,Male,17,5,4,5,2,4,serious
2,Female,25,5,5,7,2,4,serious
3,Female,18,6,2,7,4,7,serious
4,Female,19,2,4,7,1,3,responsible
...,...,...,...,...,...,...,...,...
310,Female,19,6,5,6,4,3,extraverted
311,Male,18,2,5,8,3,7,dependable
312,Male,18,7,5,6,2,7,serious
313,Male,23,6,7,5,4,3,extraverted
314,Female,18,5,7,3,5,6,extraverted

In [144]:
x_train = train_data.drop("Personality (Class label)",axis=1)
y_train =train_data["Personality (Class label)"]

x_train = x_train.replace({"Gender":{"Male":0,"Female":1}})

x_test = test_data.drop("Personality (class label)",axis=1)
y_test = test_data["Personality (class label)"]

x_test = x_test.replace({"Gender":{"Male":0,"Female":1}})

In [145]:
#x_train,x_test,y_train,y_test

In [146]:
y_train

0      extraverted
1          serious
2       dependable
3      extraverted
4           lively
          ...
704    responsible
705     dependable
706        serious
707    extraverted
708    extraverted
Name: Personality (Class label), Length: 709, dtype: object

In [147]:
y_test

0       dependable
1          serious
2          serious
3          serious
4      responsible
          ...
310    extraverted
311     dependable
312        serious
313    extraverted
314    extraverted
Name: Personality (class label), Length: 315, dtype: object

In [148]:
x_train

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
0,0,17,7,4,7,3,2
1,0,19,4,5,4,6,6
2,1,18,7,6,4,5,5
3,1,22,5,6,7,4,3
4,1,19,7,4,6,5,4
...,...,...,...,...,...,...,...
704,1,20,4,5,6,6,1
705,0,18,6,3,1,5,5
706,0,22,5,2,3,6,1
707,0,19,5,6,5,7,5
708,1,18,5,5,7,6,5

In [149]:
x_test

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
0,1,20,7,9,9,5,5
1,0,17,5,4,5,2,4
2,1,25,5,5,7,2,4
3,1,18,6,2,7,4,7
4,1,19,2,4,7,1,3
...,...,...,...,...,...,...,...
310,1,19,6,5,6,4,3
311,0,18,2,5,8,3,7
312,0,18,7,5,6,2,7
313,0,23,6,7,5,4,3
314,1,18,5,7,3,5,6

In [150]:
y_test

0       dependable
1          serious
2          serious
3          serious
4      responsible
          ...
310    extraverted
311     dependable
312        serious
313    extraverted
314    extraverted
Name: Personality (class label), Length: 315, dtype: object

In [151]:
#model selection
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [152]:
predictiontree = model.predict(x_train)
from sklearn.metrics import accuracy_score
acc_scr = accuracy_score(y_train,predictiontree)
print(acc_scr)

0.995768688293371

In [153]:
train_data.describe()

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
count,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000
mean,19.685472,5.019746,4.647391,4.643159,4.827927,4.409027
std,2.510672,1.519052,1.658673,1.703569,1.632564,1.567404
min,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,4.000000,3.000000,4.000000,3.000000
50%,19.000000,5.000000,5.000000,5.000000,5.000000,5.000000
75%,21.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,28.000000,8.000000,8.000000,8.000000,8.000000,7.000000

0==male
1=female

In [155]:
             #g a  o n c a e
input_data = (0,19,5,3,7,8,5)
#içe atanmış data tanımlanıyor
input_data_np_array = np.array(input_data)

#datanın şekli şekillendiriliyor
input_data_reshape = input_data_np_array.reshape(1,-1)

# predict fonksyonu çağırılıyor
prediction = model.predict(input_data_reshape)
print(prediction)

['serious']

c:\Users\Huawei D14\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(